
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Bonjour à tous!</h1>
            <p>Application API utilisateur avec la fonctionnalité utilisateur CRUD</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Créer un utilisateur</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <button class="btn btn-primary">Detail</button>
                        <button class="btn btn-warning">Modifier</button>
                        <button class="btn btn-danger" onclick="confirmDeleteUser(event)">Supprimer</button>
                    </td>
                </tr>
            <% }); %>
        </table>
        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company ECE 2023</p>
</footer>
<script>
    document.getElementById('deleteButton').addEventListener('click', function(ev) {

    });

    function confirmDeleteUser(ev){
        if (confirm('Voulez-vous vraiment supprimer cet utilisateur ?')) {
            action = ev.target.parentNode
            userId = action.parentNode.firstElementChild.textContent;
            console.log(userId)
            deleteUser(userId);
        }
    }
    function deleteUser(userId) {
        fetch(`http://localhost:3000/users/${userId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.status === 204) {
                    location.reload(); // Actualiser la page
                } else if (response.status === 404) {
                    alert('Utilisateur non trouvé.');
                } else {
                    alert('Une erreur s\'est produite lors de la suppression de l\'utilisateur.');
                }
            })
            .catch(error => {
                console.error('Une erreur s\'est produite lors de la requête :', error);
                alert('Une erreur s\'est produite lors de la requête.');
            });
    }

</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
